<header class="header">
  <h1>Ember 'Buzzword' Bingo</h1>
</header>

{{bingo-board}}

<footer class="footer">
  {{#new-board class="new-board" role="button"}}New board{{/new-board}}
  <a class="github-link" href="https://github.com/ksin/ember-bingo">Github</a>
</footer>

{{outlet}}
